@{
  var isActiveMenu = ViewData["ActiveMenu"];

  var activeMenuProject = (string)isActiveMenu == "project" ? "active" : "";
  var activeMenuMember = (string)isActiveMenu == "member" ? "active" : "";
  var activeMenuBlog= (string)isActiveMenu == "blog" ? "active" : "";
  var activeMenuInformation = (string)isActiveMenu == "information" ? "active" : "";
  var activeMenuEmail = (string)isActiveMenu == "email" ? "active" : "";
  var activeMenuRecruitment = (string)isActiveMenu == "recruitment" ? "active" : "";

  var isAuth = User.Identity.IsAuthenticated;

  var returnUrl = TempData["ReturnUrl"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.min.css">

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <link rel="stylesheet" href="~/css/admin.css" />
    
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/js/admin.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" asp-controller="AdminHome" asp-action="Index">
        <img src="~/images/logo-admin.png" alt="logo" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
        @if (isAuth)
        {
          <li class="nav-item @activeMenuInformation">
            <a class="nav-link" asp-controller="AdminInformation" asp-action="Index">Infomation</a>
          </li>
          <li class="nav-item @activeMenuProject">
            <a class="nav-link" asp-controller="AdminProject" asp-action="Index">Project</a>
          </li>
          <li class="nav-item @activeMenuMember">
            <a class="nav-link" asp-controller="AdminMember" asp-action="Index">Member</a>
          </li>
          <li class="nav-item @activeMenuBlog">
            <a class="nav-link" asp-controller="AdminBlog" asp-action="Index">Blog</a>
          </li>
           <li class="nav-item @activeMenuRecruitment">
            <a class="nav-link" asp-controller="AdminRecruitment" asp-action="Index">Recruitment</a>
          </li>
          <li class="nav-item @activeMenuEmail">
            <a class="nav-link" asp-controller="AdminEmail" asp-action="Index">Email</a>
          </li>
        }
        </ul>
        @if (!isAuth)
        {
          <form asp-controller="AdminHome" asp-action="LoginPost" class="form-inline my-2 my-lg-0">
            <input type="hidden" value="@returnUrl" for="ReturnUrl">
            <div class="form-group">
              <input class="form-control flex-column mr-sm-2" type="email" placeholder="Email" name="Email">
            </div>
            <div class="form-group">
              <input class="form-control mr-sm-2" type="password" placeholder="Password" name="Password">
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
          </form>            
        }     

        @if (isAuth)
        {
          <form action="/admin/logout" method="POST" class="my-2 my-lg-0">
            <button type="submit" class="btn btn-danger">Logout</button>
          </form>            
        }    
      
      </div>
    </div>
  </nav>

  <div>
    @RenderBody()
  </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
