@model ZeroXTeam.Models.Partials.ClientSorting;

<form class="filter mb-5" method="GET" 
  asp-action="@Model.AspAction" 
  asp-controller="@Model.AspController">

    <input type="hidden" name="PageNumber" value="@Model.CurrentPage">
    <select class="form-control" name="SortBy">
      <option value="sorting">Được sắp xếp bởi: </option>
      @foreach (var option in Model.SortingOptions)


      {
        var isSelected = Model.SortBy == option.Value;

        <option value="@option.Value" selected="@isSelected"> @option.Display </option>          
      }
    </select>
    <button class="btn btn-primary theme-button">Sắp xếp</button>

</form>