@model ZeroXTeam.Models.Partials.ClientSorting;

<form class="filter mb-5 d-flex align-items-center" method="GET" 
  asp-action="@Model.AspAction" 
  asp-controller="@Model.AspController">

    <input type="hidden" name="PageNumber" value="@Model.CurrentPage">
    <select class="form-control mr-2" name="SortBy">
      <option value="sorting">Được sắp xếp theo: </option>
      @foreach (var option in Model.SortingOptions)


      {
        var isSelected = Model.SortBy == option.Value;

        <option value="@option.Value" selected="@isSelected" class="mt-2 mb-2"> @option.Display </option>          
      }
    </select>
    <button class="btn btn-primary theme-button" style="transform: translateY(-1px);">Sắp xếp</button>

</form>