@using ZeroXTeam.Entities

@{
  var information = ViewData["Information"] as HomePageInformation;
  var members = ViewData["Members"] as List<Member>;
  var listOfTeamChannels = new List<TeamChannel>()
  {
    new TeamChannel("ZeroX Facebook", "Gặp ZeroX trên facebook, để cùng thảo luận với chúng tôi", "https://www.facebook.com/zeroxteam", "/images/sprite.svg#icon-facebook"),
    new TeamChannel("SchoolX Youtube", "Video khóa học FREE trên youtube, được các mentor kĩ lưỡng biên soạn", "https://www.youtube.com/c/schoolXedu", "/images/sprite.svg#icon-youtube"),
    new TeamChannel("ZeroX Discord", "Trò chuyện và chém gió hết mình trên discord cùng ZeroX", "https://discord.gg/AmuVfPcSmb", "/images/sprite.svg#icon-discord"),
  };
}

<!--/header-->
<!-- about breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
  <div class="container page-wrapper">
    <a href="/">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">Về chúng tôi</span>
  </div>
</nav>
<!-- /about breadcrumbs -->
<section class="w3l-about1" id="about">
  <div id="content-with-photo4-block" class="pt-5">
    <div class="container py-md-3">
      <div class="header-section mb-5 text-center">
        <h1>Tại sao lại chọn ZeroX ?</h1>
      </div>
      <div class="cwp4-two row">

        <div class="cwp4-text col-lg-6">
          <h3>Câu chuyện của ZeroX Team</h3>
          <p>ZeroX team được thành lập vào khoảng giữa năm 2020, với một nhóm nhỏ những thành viên có tâm huyết,
             cùng nhau xây dựng một cộng đồng chia sẻ và học những lĩnh vực liên quan tới lập trình.
             Chúng tôi đã cùng nhau làm gì: </p>

          <ul class="cont-4">
            <li><span class="fa fa-check"></span>Thiết kế và phát triển sản phẩm web</li>
            <li><span class="fa fa-check"></span>Phát triển ứng dụng Mobile</li>
            <li><span class="fa fa-check"></span>Hoạt động chia sẻ kiến thức cộng đồng</li>
            <li><span class="fa fa-check"></span>Hoạt động đào tạo với những dự án thực tế, ứng dụng cao.</li>
          </ul>
        </div>
        <div class="cwp4-image col-lg-6 pl-lg-5 mt-lg-0 mt-5">
          <img src="@information?.AboutUrl" class="img-curve img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w3l-about2">
  <div class="features py-5">
    <div class="container py-lg-3">

      <div class="fea-gd-vv row ">
        <div class="float-lt feature-gd col-lg-4 col-sm-6 pr-4">
          <div class="icon-info">
            <h5>Nguồn gốc ZeroX</h5>
            <p>
              Được thành lập từ các bạn sinh viên ưu tú Bách Khoa Đà Nẵng 
              cùng với những người trẻ đang đi làm từ giữa năm <b>2020</b>, cùng chí hướng
              trong việc phát triển một cộng đồng IT chất lượng, trước là ở Đà Nẵng, rồi mở rộng ra cả nước.
            </p>
          </div>

        </div>
        <div class="float-mid feature-gd col-lg-4 col-sm-6 mt-sm-0 mt-4 pr-4">

          <div class="icon-info">
            <h5>Phương pháp của ZeroX</h5>
            <p>
              ZeroX team kết hợp luân phiên các hoạt động <strong>learning</strong> , <strong>sharing</strong>, 
              <strong>teaching</strong> và cả <strong>làm các project</strong>  
              thực tế để tạo ra một thế hệ chiến binh trẻ giàu kinh nghiệm và kĩ năng là việc hiệu quả.
            </p>
          </div>
        </div>
        <div class="float-rt feature-gd col-lg-4 col-sm-6 mt-lg-0 mt-sm-5 mt-4">

          <div class="icon-info">
            <h5>Đội ngũ ZeroX</h5>
            <p>
              Đội ngũ của ZeroX trải rộng từ các sinh viên mới vào trường, các sinh viên ưu tú
              trong các trường Đại học uy tín trên khắp cả nước, những người trẻ tuổi đang đi làm,
              cho đến những KOL có tầm ảnh hưởng lớn trong lĩnh vực công nghệ thông tin.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- services block4 -->
<div class="w3l-services py-5">
    <div class="container principles-grids principles-grids1 py-lg-3">
      <div class="header-section text-center mx-auto" style="margin-bottom: 3rem;">
        <h6 class="sub-title mb-3">ZeroX channels</h6>
        <h1>Các Kênh Của ZeroX </h1>
        <p class="my-3"> 
          ZeroX hoạt động tích cực thông qua các kênh trên mạng xã hội, nên các bạn có thể dễ dàng tìm thấy chúng tôi ở mọi nơi.
        </p>
      </div>
      
        <div class="scrollbar-services-scroll">
            <div class="row abt-btm pt-4">
              @foreach (var item in listOfTeamChannels)
              {
                <div class="col-lg-4 col-sm-6 bottom-gds">
                    <div class="elite-services1">
                        <div class="bott-img">
                            <div class="icon-holder editContent">
                                <svg style="fill: white; height: 2rem; width: 2rem;">
                                  <use xlink:href="@item.SVG"/>
                                </svg>
                            </div>
                            <h4 class="mission">@item.Name</h4>
                            <div class="description">
                                <p>@item.Desc</p>
                                <a 
                                  href="@item.Link" 
                                  target="blank" class="editContent">
                                  Tham gia ngay
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
              }
            </div>
        </div>
    </div>
</div>
<!-- //services block4 -->
<section class="w3l-about4" id="about">
  <div class="new-block py-5">
    <div class="container py-lg-5">
      <div class="middle-section text-center">
        <div class="header-section text-center mx-auto">
          <h6 class="sub-title mb-3">Organization</h6>
          <h3>Sơ Đồ Tổ Chức</h3>
          <p class="my-3"> 
            Tổ chức của toàn bộ zeroX chia làm 2 ban chính là <b>Technical</b> và <b>Non-Technical</b>, 
            Technical sẽ được chia là Backend, Frontend và Mobile
            Non-Technical sẽ được chia thành Media, Business, Content.
          </p>
        </div>
        
        <div class="history-info mt-5">
          <div class="position-relative">
            <a target="blank" href="https://www.mindmeister.com/2051116152?t=4hEsPRKXgt&fbclid=IwAR3pJiopH1pRmAB3ybic7QbveEDibBhcj-npskEU4UOQFgLY60qTPz2U5Q4">
              <img src="~/images/graph.PNG" class="img-fluid img-curve video-popup-image" alt="video-popup">
            </a>
          </div>
        </div>
        <div class="mt-5 request-quote">

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header px-4">
                  <h5 class="modal-title request-demo-title" id="exampleModalCenterTitle">Get Free Quote</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body demo-request p-4">
                  <form action="/" method="GET">
                    <div class="form-group">
                      <!-- <label for="NameInput">Name:</label> -->
                      <input type="text" class="form-control" name="name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                      <!-- <label for="exampleInputEmail1">Email address:</label> -->
                      <input type="email" class="form-control" name="emailid" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                      <!-- <label for="CompanyInput">Company:</label> -->
                      <input type="text" class="form-control" name="company" placeholder="Company" required>
                    </div>
                    <div class="form-group">
                      <!-- <label for="CompanyInput">Designation:</label> -->
                      <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                    </div>
                    <div class="text-right">
                      <button type="submit" class="btn btn-primary theme-button" data-toggle="modal" data-target="#exampleModal">Submit Now</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- request a demo form popup -->
        </div>
      </div>
    </div>
  </div>
</section>
@* <!-- customers Section -->
<section class="w3l-customers pb-5">
  <div class="container py-lg-3">
    <div class="row">
      <div class="col-md-12">
        <div class="owl-three owl-carousel owl-theme logo-view">
          <div class="item">
            <img src="~/images/logo1.jpg" alt="company-logo" class="img-fluid">
          </div>
          <div class="item">
            <img src="~/images/logo2.jpg" alt="company-logo" class="img-fluid">

          </div>
          <div class="item">
            <img src="~/images/logo3.jpg" alt="company-logo" class="img-fluid">

          </div>
          <div class="item">
            <img src="~/images/logo4.jpg" alt="company-logo" class="img-fluid">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //customers Section --> *@
<!--/team-sec-->
<section class="w3l-team">
  <div class="team py-5">
    <div class="container py-lg-5">
      
      <div class="header-section text-center mx-auto">
        <h6 class="sub-title mb-3">Our Team Members</h6>
        <h3>Các thành viên của ZeroX</h3>
        <p class="my-3"> 
          Đội ngũ đứng đằng sau ZeroX là những con người tâm huyết, được lựa chọn kĩ càng. 
        </p>
      </div>

      <div class="row team-row pt-3 mt-5">
        <!-- end team member -->

        @foreach (var member in members)
        {
          <div class="col-lg-3 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
            <div class="team-info">
              <div class="column position-relative img-circle">
                <a asp-action="MemberDetail" asp-controller="Home" asp-route-id="@member.Id">
                  <img src="@member?.PhotoUrl" alt="url" class="img-fluid team-image" />
                </a>
              </div>
              <div class="column-btm">
                <h3 class="name-pos">
                  <a asp-action="MemberDetail" asp-controller="Home" asp-route-id="@member.Id">
                    @member?.Name
                  </a>
                </h3>
                <p>@member?.TeamTitles</p>
                <div class="social">
                <a href="@member?.Facebook" class="facebook" target="blank">
                  <span class="fa fa-facebook" aria-hidden="true"></span>
                </a>
                <a href="mailto:@member?.Email?Subject=Hello" class="twitter" target="blank">
                  <span class="fa fa-envelope" aria-hidden="true"></span>
                </a>
              </div>
              </div>
            </div>
          </div>            
        }

        <!-- end team member -->
      </div>
    </div>
</section>
<hr style="margin: 0">
<!--//team-sec-->
@* <section class="w3l-mission1 py-5">
  <div class="container py-md-3 text-center">
    <div class="header-section text-center mx-auto">
      <div class="row">
        <div class="col-md-6 col-sm-3">
          <h3> Kim Chỉ Nam </h3>
          <p class="my-3"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            Nulla mollis dapibus nunc, ut rhoncus
            turpis sodales quis. Integer sit amet mattis quam.</p>
        </div>
        <div class="col-md-6 col-sm-3">
          <h3> Cách tư duy </h3>
          <p class="my-3"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            Nulla mollis dapibus nunc, ut rhoncus
            turpis sodales quis. Integer sit amet mattis quam.</p>
        </div>
      </div>
    </div>
    <!-- <div class="buttons mt-5">
      <a href="contact.html" class="btn btn-outline-primary mr-2 theme-button">Book a Demo</a>
      <a href="contact.html" class="btn btn-primary theme-button ml-2">Get Started</a>
    </div> -->
  </div>
</section> *@