@using ZeroXTeam.Entities
@using ZeroXTeam.Helpers
@using ZeroXTeam.Models.Partials

@{
  var blog = ViewData["Blog"] as Blog;
  var seeMuchBlogs = ViewData["SeeMuchBlogs"] as PaginationList<Blog>;
  var latestBlogs = ViewData["LatestBlogs"] as PaginationList<Blog>;
}
<nav id="breadcrumbs" class="breadcrumbs">
  <div class="container page-wrapper">
    <a href="/">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">Blogs</span> » <span class="breadcrumb_last" aria-current="page">@blog.Name</span>
  </div>
</nav>

<section class="w3l-blog-block py-5">
  <div class="container py-lg-3 mt-3">
    <div class="row mb-5">
      <div class="col-lg-8">
          <div class="col px-0">
            <div class="blog-info mb-5">
              <div>
                <span class="blog-info__author">Tác giả: @blog.Author</span>
              </div>
              <span class="blog-info__published">@blog.CreatedAt.ToString("dd/MM/yyyy")</span>
            </div>
            <h1 class="mb-md-4 mb-3 h1">@blog.Name</h1>
            <p class="mb-md-5">@blog.Brief</p>
              <img src="@blog.PhotoUrl" class="img-fluid shadow img-curve" alt="" />
          </div>
          <div class="col mb-3 px-0 pt-5">
            @{
              var editorBenefitModel = new ReadOnlyRichTextEditor() 
              {
                EditorId="blogContent",
                FormValue= blog.Content
              };
            }
            <partial name="components/_ReadOnlyRichText"
                model="@editorBenefitModel"></partial>
        </div>
      </div>
      <div class="col-lg-4 pl-lg-5 mt-lg-0 mt-5">
        <div class="sticky-top pt-3" style="top: 70px">
          <h3 class="mb-3">Xem nhiều</h3>
          <div class="popular-blogs">
            @foreach (var seeMuchBlog in seeMuchBlogs )
            {
              <a href="/blogs/@seeMuchBlog.Id" class="d-flex blog-card zoom">
                <img src="@seeMuchBlog.PhotoUrl" alt="" class="img-fluid img-curve" />
                <div class="blog-card__info">
                  <h5 class="mb-3">@seeMuchBlog.Name</h5>
                  <div class="d-flex justify-content-between" style="width: 100%">
                    <p>@seeMuchBlog.Author</p>
                    <p> @seeMuchBlog.Views views </p>
                  </div>
                </div>
              </a>
              <hr>
            }
            </div>
            <div class="text-right">
              <a href="/blogs" style="font-size: 14px">Xem thêm -></a>
            </div>
        </div>
      </div>
    </div>
    <div class="row blog-related">
      <div class="col mt-3">
        <h3>Bài viết liên quan</h3>
        <div class="grid-view mt-4">
          @foreach (var ltBlog in latestBlogs )
          {
            <a href="/blogs/@ltBlog.Id" class="d-flex grid-item blog-card zoom">
              <img src="@ltBlog.PhotoUrl" alt="" class="img-fluid img-curve" />
              <div class="blog-card__info">
                <h5 class="mb-3">@ltBlog.Name</h5>
                <p class="mb-3">@ltBlog.Author</p>
              </div>
            </a>
          }
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /project detail -->

<section class="w3l-comment-block pb-5">
  <div class="container py-lg-3 mt-3">
    <div class="row">
      <div class="col-md-8">
        <h3 class="comments-title mb-3">Comments (@blog.UserComments.Count)</h3>
        <hr>

        @if (@blog.UserComments.Count > 0)
        {
          @foreach (var comment in blog.UserComments)
          {            
            <div class="be-comment mb-3">
              <div class="be-img-comment">	
                <a href="blog-detail-2.html">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                </a>
              </div>
              <div class="be-comment-content">
                  <span class="be-comment-name">
                    <a href="blog-detail-2.html">@comment.Name</a>
                    </span>
                  <span class="be-comment-time">
                    <i class="fa fa-clock-o"></i>
                    @comment.CreatedAt.ToString()
                  </span>
          
                <p class="be-comment-text">
                  @comment.Content
                </p>
                </div>
              </div>
            }            
        }

        @if (@blog.UserComments.Count == 0)
        {
          <h5>No comment found</h5>
        }

        <hr class="mt-5 mb-3">

        <form action="/blogs/@blog.Id/add-comment" method="POST" >
          <div class="row">
            <div class="col-12 col-lg-6 mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <input type="text" name="Name" class="form-control" placeholder="Your name">
              </div>
            </div>
            <div class="col-12 col-lg-6 mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope"></i></div>
                </div>
                <input type="text" name="Email" class="form-control" placeholder="Your email">
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <textarea class="form-control" name="Content" rows="3" placeholder="Your comment..."></textarea>
            </div>
          </div>
          <div class="text-right">
            <button class="btn-primary btn theme-button" type="submit">Gửi</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>