@using System.Web
@using ZeroXTeam.Entities;
@using ZeroXTeam.Helpers

@{
    ViewData["Title"] = "Home Page";
    ViewData["ActiveMenu"] = ActiveMenu.Home;
    
    var information = ViewData["Information"] as HomePageInformation;
    var heroUrl = Html.Raw(information?.HeroUrl);
    var showedProjects = ViewData["ShowedProjects"] as List<Project>;
}
  <!--/header-->
  <!-- index-block1 -->
  <section class="w3l-hero-area">
    <input type="hidden" value="@heroUrl" id="heroImgInput">
    <div class="content" 
        id="heroImg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 col-sm-8 content-left">
            <h3 class="mb-3">
              @information?.Title
            </h3>
            <p class="mb-lg-5 mb-4"> @information?.SubTitle </p>
            <a href="about.html" class="btn btn-outline-primary theme-button">Get Started</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </section>
  <!-- //index-block1 -->
  <!-- index-block2 -->
  <section class="w3l-passion py-5">
    <div class="container py-md-3">
      <div class="header-section text-center mx-auto">
        <h6 class="sub-title mb-3">Khát vọng vươn tầm</h6>
        <h3>Tầm nhìn</h3>
        <p class="my-3"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          Nulla mollis dapibus nunc, ut rhoncus
          turpis sodales quis. Integer sit amet mattis quam.</p>
      </div>
      <div class="row bottom_grids text-center">
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="s-block">
            <a href="services.html" class="d-block">
              <img src="~/images/s1.png" alt="" class="img-fluid" />
              <h3 class="my-3">Interactive</h3>
              <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempora rerum
                perspiciatis?</p>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="s-block">
            <a href="services.html" class="d-block">
              <img src="~/images/s2.png" alt="" class="img-fluid" />
              <h3 class="my-3">Business</h3>
              <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempora rerum
                perspiciatis?</p>
            </a>
          </div>
        </div>
        <div class="col-lg-4 mt-5">
          <div class="s-block">
            <a href="services.html" class="d-block">
              <img src="~/images/s3.png" alt="" class="img-fluid" />
              <h3 class="my-3">Inspiration</h3>
              <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tempora rerum
                perspiciatis?</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /index-block2 -->
  <section class="w3l-values py-5">
    <div class="container py-lg-3 mt-3">
      <div class="row align-items-center">
        <div class="col-lg-6 book-info pr-lg-5">
          <h6 class="sub-title mb-3">Giá trị cộng đồng</h6>
          <h3 class="mb-md-4 mb-3">Giá trị chúng tôi đem lại</h3>
          <p class="mb-md-5 mb-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et est repellendus illum
            harum quam nihil totam
            reprehenderit! Ut sed eveniet quos! Asperiores officia, repudiandae similique reiciendis, ab est magnam esse
            nesciunt ea fuga facere
            voluptatem.</p>
          <a href="#URL" class="btn btn-primary theme-button">Read More</a>
        </div>
        <div class="col-lg-6 pl-lg-5 mt-lg-0 mt-5">
          <img src="~/images/about.jpg" class="img-fluid shadow img-curve" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- stats -->
  <section class="w3l-stats pb-5 pt-4" id="stats">
    <div class="gallery-inner container pb-lg-3">
      <div class="row stats-con text-white">
        <div class="col-lg-4 col-sm-6">
          <div class="stats_info counter_grid">
            <h4>Thành Viên</h4>
            <p class="counter"> @ViewData["NumberOfMembers"] </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere atque sed.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
          <div class="stats_info counter_grid1">
            <h4>Giải Thưởng</h4>
            <p class="counter">20</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere atque sed.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mt-lg-0 mt-sm-5 mt-4">
          <div class="stats_info counter_grid">
            <h4>Dự Án</h4>
            <p class="counter"> @ViewData["NumberOfProjects"] </p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere atque sed.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //stats -->
  <section class="w3l-intro">
    <div class="new-block top-bottom">
      <div class="container">
        <div class="middle-section">
          <div class="section-width">
            <h2>We are true to ourselves, and commit to always perform at our best.</h2>
          </div>
          <div class="link-list-menu">
            <p class="mt-md-4 mt-3 mb-md-5 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus, doloribus atque. Corrupti exercitationem voluptatem ipsum iste consequuntur et vitae
              voluptas temporibus? Maxime dolores amet voluptatum illo consequatur placeat fugit ducimus.</p>
            <a href="about.html" class="btn btn-light theme-button">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Projects Section -->
  <section class="w3l-projects py-5">
      <div class="container py-lg-3">
        <div class="header-section text-center mx-auto">
          <h6 class="sub-title mb-3">Dự án của chúng tôi</h6>
          <h3>Dự Án Đã Hoàn Thành</h3>
          <p class="my-3 mb-5"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            Nulla mollis dapibus nunc, ut rhoncus
            turpis sodales quis. Integer sit amet mattis quam.</p>
        </div>
        <div class="grid-view">
          @foreach (var project in showedProjects)
          {
            <div class="grid-item">
              <a asp-action="ProjectDetail" asp-controller="Home" 
                asp-route-id="@project.Id" 
                class="d-block zoom">
                <img src="@project.PhotoUrl" alt="photo" class="img-fluid news-image" />
                <div class="project-info">
                  <h4 class="mb-3">@project.Name</h4>
                  <p class="line-clamp-2 mb-3">@project.Description</p>
                </div>
              </a>
            </div>              
          }
        </div>
      </div>
  </section>

  <section class="w3l-testimonials" id="testimonials">
    <div class="testimonials py-5">
      <div class="container py-lg-3">
        <div class="header-section text-center mx-auto">
          <h6 class="sub-title mb-3">Nhận xét của thành viên</h6>
          <h3>Thành Viên Nói Gì? </h3>
          <p class="my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid illo alias blanditiis nam,
            beatae ipsam laudantium, veritatis natus debitis temporibus adipisci quae ipsa nemo. Qui nesciunt quas
            debitis pariatur porro?</p>
        </div>
        <div class="row mt-4">
          <div class="col-md-12 mx-auto pb-5">
            <div class="owl-two owl-carousel owl-theme">
              <div class="item">
                <div class="slider-info mt-lg-4 mt-3">
                  <div class="img-circle">
                    <img src="~/images/team3.jpg" class="img-fluid testimonial-img" alt="client image">
                  </div>
                  <div class="message">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis deleniti praesentium
                      doloremque. Repellendus soluta quos nemo quisquam consectetur temporibus quam obcaecati sapiente
                      quaerat et.</p>
                    <div class="name mt-4">
                      <h4>Isabella Mia</h4>
                      <p>Web Developer</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slider-info mt-lg-4 mt-3">
                  <div class="img-circle">
                    <img src="~/images/team4.jpg" class="img-fluid testimonial-img" alt="client image">
                  </div>
                  <div class="message">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis deleniti praesentium
                      doloremque. Repellendus soluta quos nemo quisquam consectetur temporibus quam obcaecati sapiente
                      quaerat et.</p>
                    <div class="name mt-4">
                      <h4>Benjamin Lucas</h4>
                      <p>Designer</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slider-info mt-lg-4 mt-3">
                  <div class="img-circle">
                    <img src="~/images/team5.jpg" class="img-fluid testimonial-img" alt="client image">
                  </div>
                  <div class="message">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis deleniti praesentium
                      doloremque. Repellendus soluta quos nemo quisquam consectetur temporibus quam obcaecati sapiente
                      quaerat et.</p>
                    <div class="name mt-4">
                      <h4>Oliver Bradley</h4>
                      <p>Web Developer</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slider-info mt-lg-4 mt-3">
                  <div class="img-circle">
                    <img src="~/images/team6.jpg" class="img-fluid testimonial-img" alt="client image">
                  </div>
                  <div class="message">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis deleniti praesentium
                      doloremque. Repellendus soluta quos nemo quisquam consectetur temporibus quam obcaecati sapiente
                      quaerat et.</p>
                    <div class="name mt-4">
                      <h4>William James</h4>
                      <p>Tester</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="w3l-faq-block py-5" id="faq">
    <div class="container py-lg-5">
      <div class="header-section text-center mx-auto">
        <h6 class="sub-title mb-3">Questions and Answers</h6>
        <h3>General FAQs </h3>
        <p class="my-3"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          Nulla mollis dapibus nunc, ut rhoncus
          turpis sodales quis. Integer sit amet mattis quam.</p>
      </div>
      <div class="row">
        <div class="col-md-5 mt-5">
          <div class="faq-image">
            <img src="~/images/women.jpg" class="img-fluid shadow img-curve" alt="">
          </div>
        </div>
        <div class="col-md-7 mt-5 pl-lg-5">
          <section class="w3l-faq" id="faq">
            <div class="faq-page">
              <ul>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>There are many passages but the majority?</h2>
                  <p>Voluptates amet earum velit nobis aliquam
                    laboriosam nihil debitis facere voluptatibus consectetur quae quasi fuga, ad corrupti libero omnis
                    sapiente
                    non assumenda, incidunt officiis eaque iste minima autem.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>Sed ut perspiciatis unde omnis?</h2>
                  <p>Sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil debitis animi vitae eos nisi laudantium. Tempore reiciendis ipsam culpa, qui
                    voluptates eveniet, incidunt officiis eaque iste minima autem.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>At vero eos iusto odio ducimus qui?</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil quasi fuga, ad corrupti libero omnis sapiente
                    non assumenda excepturi aperiam animi vitae eos nisi laudantium. Tempore reiciendis ipsam culpa, qui
                    voluptates eveniet, incidunt officiis eaque iste minima autem.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>We denounce with righteous?</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil debitis facere voluptatibus consectetur quae quasi fuga, ad corrupti libero omnis
                    sapiente
                    non assumenda excepturi aperiam iste minima autem.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>perspiciatis unde omnis?</h2>
                  <p>Sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil debitis animi vitae eos nisi laudantium. Tempore reiciendis ipsam culpa, qui
                    voluptates eveniet, incidunt officiis eaque iste minima autem.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>At vero eos iusto odio ducimus qui?</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil quasi fuga, ad corrupti libero omnis sapiente
                    non assumenda excepturi aperiam animi vitae eos nisi laudantium. Tempore reiciendis ipsam culpa, qui
                    voluptates eveniet, incidunt officiis eaque iste minima autem.</p>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>

  <section class="w3l-mission py-5">
    <div class="container py-md-3 text-center">
      <div class="header-section text-center mx-auto">
        <h6 class="sub-title mb-3">Sứ mệnh của chúng tôi</h6>
        <h3>ZeroX - Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
        <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vitae quasi dolorem consectetur
          illo id reiciendis distinctio nihil ipsa praesentium iusto, porro quisquam excepturi, aliquam nesciunt neque
          perferendis cumque itaque.</p>
      </div>
    </div>
  </section>

  <script>
      const input = document.querySelector("#heroImgInput");
      const div = document.querySelector("#heroImg");

      div.style.backgroundImage = `linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0) 60%
        ),
        url(${input.value})`
  </script>