@using System.Web
@using ZeroXTeam.Entities;
@using ZeroXTeam.Helpers

@{
    ViewData["Title"] = "Trang chủ, nơi mọi người học cùng nhau :D";
    ViewData["ActiveMenu"] = ActiveMenu.Home;
    
    var information = ViewData["Information"] as HomePageInformation;
    var heroUrl = Html.Raw(information?.HeroUrl);
    var showedProjects = ViewData["ShowedProjects"] as List<Project>;
    var listOfActivites = new List<TeamActivity>()
    {
      new TeamActivity("/images/sprite.svg#icon-graduation-cap", "Teaching", "Học tập và thực hành dự án thực tế, cung cấp kiến thức nền tảng."),
      new TeamActivity("/images/sprite.svg#icon-quill", "Learning", "Nghiêm túc học tập và tiếp thu kiến thức một cách chủ động."),
      new TeamActivity("/images/sprite.svg#icon-redeem", "Sharing", "Sẵn sàng chia sẻ những kiến thức bạn có."),
      new TeamActivity("/images/sprite.svg#icon-cogs", "Training", "Liên tục đào tạo và bổ sung kỹ năng cần thiết về mọi lĩnh vực trong CNTT."),
      new TeamActivity("/images/sprite.svg#icon-user-tie", "Working", "Áp dụng những kỹ năng đã học để làm việc, thực hành những dự án thực tế."),
      new TeamActivity("/images/sprite.svg#icon-stats", "Doing Project", "Biến ý tưởng thành một dự án thực tế hoặc tham gia những dự án thực tế với đầy đủ độ phức tạp cũng như đa dạng về công nghệ."),
    };
}
  <!--/header-->
  <!-- index-block1 -->
  <section class="w3l-hero-area">
    <input type="hidden" value="@heroUrl" id="heroImgInput">
    <div class="content" 
        id="heroImg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 col-sm-8 content-left">
            <h1 class="mb-3">
              @information?.Title
            </h1>
            <p class="mb-lg-5 mb-4"> @information?.SubTitle </p>
            <a href="/contact" class="btn btn-white">Get Started</a>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </section>
  <!-- //index-block1 -->
  <!-- index-block2 -->
  <section class="w3l-passion py-5">
    <div class="container py-md-3">
      <div class="header-section text-center mx-auto">
        <h6 class="sub-title mb-3">Our main activities</h6>
        <h1>Hoạt động</h1>
        <p class="my-3"> 
          <strong>
              ZeroX Team mang lại những kiến thức nền tảng về lĩnh vực Công nghệ thông tin,cùng với sự phát triển và đào tạo
              nguồn nhân lực,tạo ra những sản phẩm phục vụ cộng đồng, doanh nghiệp và xã hội theo phương châm: Đơn giản - Dễ 
              dàng - Sáng tạo - Hiệu quả.
          </strong> 
        </p>
      </div>
      <div class="row bottom_grids text-center">
        @foreach (var activity in listOfActivites)
        {
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="s-block">
              <a href="/about" class="d-block">
                <svg style="fill: #eb5d6a; height: 7.5rem; width: 7.5rem;">
                  <use xlink:href="@activity.SvgLink"/>
                </svg>
                <h2 class="my-3">@activity.Name</h2>
                <p class="">@activity.Desc</p>
              </a>
            </div>
          </div>
        }
      </div>
    </div>
  </section>

  <section class="w3l-values py-5">
    <div class="container py-lg-3 mt-3">
      <div class="row align-items-center">
        <div class="col-lg-6 book-info pr-lg-5">
          <h6 class="sub-title mb-3">Our main values</h6>
          <h1 class="mb-md-4 mb-3">Giá trị chúng tôi đem lại</h1>
          <p class="mb-md-5 mb-4">Zero X team thành lập với giá trị cốt lõi là mong muốn đem đến một cộng đồng học tập và chia sẻ kiến thức hữu ích, giá trị dành cho tất cả những người có đam mê tìm hiểu về lập trình, quan tâm đến ngôn ngữ máy và trí tuệ nhân tạo. Đến với Zero X, bạn sẽ được trải nghiệm và học hỏi ở môi trường năng động, đầy nhiệt huyết, sáng tạo, nơi mọi người cùng chia sẻ, cùng  giúp đỡ nhau phát triển và xây dựng những dự án ý nghĩa dành cho cộng đồng - nơi mọi người sống tốt hơn, tiện lợi hơn, an toàn hơn nhờ vào công nghệ. </p>
          <a href="/projects" class="btn btn-primary theme-button">Tìm hiểu thêm</a>
        </div>
        <div class="col-lg-6 pl-lg-5 mt-lg-0 mt-5">
          <img src="~/images/about.jpg" class="img-fluid shadow img-curve" alt="" />
        </div>
      </div>
    </div>
  </section>
  
  <section class="w3l-stats pb-5 pt-4" id="stats">
    <div class="gallery-inner container pb-lg-3">
      <div class="row stats-con text-white">
        <div class="col-lg-4 col-sm-6">
          <div class="stats_info counter_grid">
            <h4>Thành Viên</h4>
            <p class="counter"> @ViewData["NumberOfMembers"] </p>
            <p>Số lượng đối với chúng tôi không quan trọng mà chủ yếu là chất lượng thành viên, bạn có muốn trở thành một trong chúng tôi?</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
          <div class="stats_info counter_grid1">
            <h4>Giải Thưởng</h4>
            <p class="counter">20</p>
            <p>ZeroX cùng đồng đội đã tham gia và đạt nhiều giải thưởng danh giá trong các cuộc thi cho sinh viên và hackathon</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mt-lg-0 mt-sm-5 mt-4">
          <div class="stats_info counter_grid">
            <h4>Dự Án</h4>
            <p class="counter"> @ViewData["NumberOfProjects"] </p>
            <p>Dự án của chúng tôi trải dài từ quy mô trường học, đồ án cho tới tầm doanh nghiệp vừa và nhỏ cùng với nhiều loại công nghệ khác nhau.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  @* <section class="w3l-intro">
    <div class="new-block top-bottom">
      <div class="container">
        <div class="middle-section">
          <div class="section-width">
            <h1>We are true to ourselves, and commit to always perform at our best.</h1>
          </div>
          <div class="link-list-menu">
            <p class="mt-md-4 mt-3 mb-md-5 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus, doloribus atque. Corrupti exercitationem voluptatem ipsum iste consequuntur et vitae
              voluptas temporibus? Maxime dolores amet voluptatum illo consequatur placeat fugit ducimus.</p>
            <a href="/about" class="btn btn-light theme-button">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </section> *@

  <!-- Projects Section -->
  <section class="w3l-projects py-5">
      <div class="container py-lg-3">
        <div class="header-section text-center mx-auto">
          <h6 class="sub-title mb-3">Our projects</h6>
          <h1>Dự Án Đã Hoàn Thành</h1>
          <p class="my-3 mb-5"> Dưới đây là một số dự án tiêu biểu của đội ngũ chúng tôi </p>
        </div>
        <div class="grid-view">
          @foreach (var project in showedProjects)
          {
            <div class="grid-item">
              <a asp-action="ProjectDetail" asp-controller="Home" 
                asp-route-id="@project.Id" 
                class="d-block zoom">
                <img src="@project.PhotoUrl" alt="photo" class="img-fluid news-image" />
                <div class="project-info">
                  <h4 class="mb-3">@project.Name</h4>
                  <p class="line-clamp-2 mb-3">@project.Description</p>
                </div>
              </a>
            </div>              
          }
        </div>
      </div>
  </section>

  @* <section class="w3l-testimonials" id="testimonials">
    <div class="testimonials py-5">
      <div class="container py-lg-3">
        <div class="header-section text-center mx-auto">
          <h6 class="sub-title mb-3">Nhận xét của thành viên</h6>
          <h3>Thành Viên Nói Gì? </h3>
          <p class="my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid illo alias blanditiis nam,
            beatae ipsam laudantium, veritatis natus debitis temporibus adipisci quae ipsa nemo. Qui nesciunt quas
            debitis pariatur porro?</p>
        </div>
        <div class="row mt-4">
          <div class="col-md-12 mx-auto pb-5">
            <div class="owl-two owl-carousel owl-theme">
              <div class="item">
                <div class="slider-info mt-lg-4 mt-3">
                  <div class="img-circle">
                    <img src="~/images/team3.jpg" class="img-fluid testimonial-img" alt="client image">
                  </div>
                  <div class="message">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis deleniti praesentium
                      doloremque. Repellendus soluta quos nemo quisquam consectetur temporibus quam obcaecati sapiente
                      quaerat et.</p>
                    <div class="name mt-4">
                      <h4>Isabella Mia</h4>
                      <p>Web Developer</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slider-info mt-lg-4 mt-3">
                  <div class="img-circle">
                    <img src="~/images/team4.jpg" class="img-fluid testimonial-img" alt="client image">
                  </div>
                  <div class="message">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis deleniti praesentium
                      doloremque. Repellendus soluta quos nemo quisquam consectetur temporibus quam obcaecati sapiente
                      quaerat et.</p>
                    <div class="name mt-4">
                      <h4>Benjamin Lucas</h4>
                      <p>Designer</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slider-info mt-lg-4 mt-3">
                  <div class="img-circle">
                    <img src="~/images/team5.jpg" class="img-fluid testimonial-img" alt="client image">
                  </div>
                  <div class="message">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis deleniti praesentium
                      doloremque. Repellendus soluta quos nemo quisquam consectetur temporibus quam obcaecati sapiente
                      quaerat et.</p>
                    <div class="name mt-4">
                      <h4>Oliver Bradley</h4>
                      <p>Web Developer</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slider-info mt-lg-4 mt-3">
                  <div class="img-circle">
                    <img src="~/images/team6.jpg" class="img-fluid testimonial-img" alt="client image">
                  </div>
                  <div class="message">
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis deleniti praesentium
                      doloremque. Repellendus soluta quos nemo quisquam consectetur temporibus quam obcaecati sapiente
                      quaerat et.</p>
                    <div class="name mt-4">
                      <h4>William James</h4>
                      <p>Tester</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> *@

  @* <section class="w3l-faq-block py-5" id="faq">
    <div class="container py-lg-5">
      <div class="header-section text-center mx-auto">
        <h6 class="sub-title mb-3">Questions and Answers</h6>
        <h3>General FAQs </h3>
        <p class="my-3"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          Nulla mollis dapibus nunc, ut rhoncus
          turpis sodales quis. Integer sit amet mattis quam.</p>
      </div>
      <div class="row">
        <div class="col-md-5 mt-5">
          <div class="faq-image">
            <img src="~/images/women.jpg" class="img-fluid shadow img-curve" alt="">
          </div>
        </div>
        <div class="col-md-7 mt-5 pl-lg-5">
          <section class="w3l-faq" id="faq">
            <div class="faq-page">
              <ul>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>There are many passages but the majority?</h2>
                  <p>Voluptates amet earum velit nobis aliquam
                    laboriosam nihil debitis facere voluptatibus consectetur quae quasi fuga, ad corrupti libero omnis
                    sapiente
                    non assumenda, incidunt officiis eaque iste minima autem.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>Sed ut perspiciatis unde omnis?</h2>
                  <p>Sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil debitis animi vitae eos nisi laudantium. Tempore reiciendis ipsam culpa, qui
                    voluptates eveniet, incidunt officiis eaque iste minima autem.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>At vero eos iusto odio ducimus qui?</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil quasi fuga, ad corrupti libero omnis sapiente
                    non assumenda excepturi aperiam animi vitae eos nisi laudantium. Tempore reiciendis ipsam culpa, qui
                    voluptates eveniet, incidunt officiis eaque iste minima autem.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>We denounce with righteous?</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil debitis facere voluptatibus consectetur quae quasi fuga, ad corrupti libero omnis
                    sapiente
                    non assumenda excepturi aperiam iste minima autem.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>perspiciatis unde omnis?</h2>
                  <p>Sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil debitis animi vitae eos nisi laudantium. Tempore reiciendis ipsam culpa, qui
                    voluptates eveniet, incidunt officiis eaque iste minima autem.</p>
                </li>
                <li>
                  <input type="checkbox" checked>
                  <i></i>
                  <h2>At vero eos iusto odio ducimus qui?</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates amet earum velit nobis aliquam
                    laboriosam nihil quasi fuga, ad corrupti libero omnis sapiente
                    non assumenda excepturi aperiam animi vitae eos nisi laudantium. Tempore reiciendis ipsam culpa, qui
                    voluptates eveniet, incidunt officiis eaque iste minima autem.</p>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section> *@

  <section class="w3l-mission py-5">
    <div class="container py-md-3 text-center">
      <div class="header-section text-center mx-auto">
        <h6 class="sub-title mb-3">Our mission</h6>
        <h1>ZeroX và sứ mệnh</h1>
        <p class="my-3">ZeroX Team luôn làm việc với sứ mệnh: tập trung vào việc phát triển con người, đào tạo nguồn nhân lực chất lượng cao, luôn đổi mới và sáng tạo, luôn quan tâm đến sự cống hiến cho cộng đồng và cả sự phát triển của đội ngũ nhân sự, trở thành bệ phóng startup thành công cho sinh viên nói riêng và bất cứ ai mong muốn phát triển bản thân trong ngành CNTT.</p>
      </div>
    </div>
  </section>

  <script>
      const input = document.querySelector("#heroImgInput");
      const div = document.querySelector("#heroImg");

      div.style.backgroundImage = `url(${input.value})`
  </script>