@using ZeroXTeam.Entities;
@using ZeroXTeam.Helpers;
@using ZeroXTeam.Models.Partials

@{
  var projects = ViewData["Projects"] as PaginationList<Project>;
}

<style>
  .theme-button {
    padding-right: 14px;
    padding-left: 14px;
    height: 38px;
    transform: translateY(-2px);
    line-height: 1px;
  }
</style>
<nav id="breadcrumbs" class="breadcrumbs">
  <div class="container page-wrapper">
    <a href="/">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">Dự Án</span>
  </div>
</nav>
<!-- projects section -->
<section class="w3l-projects py-5" style="margin-top: 1rem">
    <div class="container principles-grids principles-grids1 py-lg-3">
      <div class="header-section mb-5 text-center mx-auto">
        <h6 class="sub-title mb-3">Dự án của chúng tôi</h6>
        <h3>Dự án đang phát triển</h3>
        <p class="my-3"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
          Nulla mollis dapibus nunc, ut rhoncus
          turpis sodales quis. Integer sit amet mattis quam.</p>
      </div>

      @{
        var sortingModel = new ClientSorting()
        {
          AspAction = "Projects",
          AspController = "Home",
          CurrentPage = projects.CurrentPage,
          SortBy = projects.SortBy,
          SortingOptions = new List<SortingOption>()
            {
              new SortingOption("Name", "Tên của dự án"),
              new SortingOption("StartDate", "Ngày khởi động dự án"),
            }
        };
      }

      <partial name="components/_ClientSorting"
         model="@sortingModel"></partial>
      
      <div class="grid-view mb-5">
        @foreach (var project in projects)
        {
          <div class="grid-item">
            <a href="/projects/@project.Id" class="d-block zoom">
              <img src="@project.PhotoUrl" alt="" class="img-fluid news-image" />
              <div class="project-info">
                <h4 class="mb-3">@project.Name</h4>
                <p class="line-clamp-2 mb-3">@project.Description</p>
              </div>
            </a>
          </div>
        }
      </div>

    @{
      var paginationModel = new ClientPagination() 
      {
        AspAction = "Projects",
        AspController = "Home",
        CurrentPage = projects.CurrentPage,
        TotalPages = projects.TotalPages,
        SortBy = projects.SortBy,
      };
    }

    <partial name="components/_ClientPagination"
        model="@paginationModel"></partial>

    </div>
</section>
<!-- /projects section -->